<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>An Energy Story</title>

  <!-- Stylesheets -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Playfair+Display:400,700" rel="stylesheet">

  <!-- Custom external stylesheets -->
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/story.css">

  <style>
  </style>
</head>

<body>
  <div class="container">
    <!-- <div id="extra-space"></div> -->

    <div class="mt-5" id='graphic'>
      <div id='sections'>
        <section style="margin-bottom: 400px" class="step mt-5">
          <h1>Welcome</h1>
          <h3 style="padding-bottom: 15px; border-bottom: 1px black solid">
            We are big <b>fans</b> of renewable energy, we hope this platform helps you uncover facts that <b>blow</b> you away.
          </h3>
          <p>
            start scrolling to learn more
          </p>
        </section>
        <section class="step">
          <h1>We're getting there</h1>
          <p>
            Over the past 50 years or so, renewable energy has been on the rise. However, with present-day renewable consumption accounting for just about 12.5% of the global energy usage, we still have a long way to go.
          </p>
        </section>
        <section class="step">
          <h1>Renewable Generation by Source</h1>
          <p>
            Despite all of our recent technological advances, we still see a heavy reliance on traditional biofuels - energy produced from crops, waste, and other various biomass.
          </p>
        </section>
        <section class="step">
          <h1>The Paris Agreement</h1>
          <p>
            In 2015, countries from across the world reached a landmark agreement to combat climate change. Unfortunately, 2
            countries later withdrew from the agreement :(
          </p>
          <p>
            But let's take a look at a couple of countries with interesting relationships with energy usage.
          </p>
        </section>
        <section class="step">
          <h1>Equatorial Guinea</h1>
          <p>
            is a tropical country situated in central West Africa.
            With an area of 28,000 km² the country is slightly smaller than the U.S. state of Maryland!
          </p>
        </section>
        <section class="step">
          <p>
            In the early 1990's, nearly 85% of Equatorial Guinea's energy consumption was from renewable sources.
          </p>
        </section>
        <section class="step">
          <p>
            In 1996, the discovery and exploitation of large oil reserves led to a dramatic increase in GDP.
          </p>
        </section>
        <section class="step">
          <p>
            However, this completely changed the country’s energy economy at the same time. Renewable energy consumption plummeted to a minimum of 5.6% in 2007 and was a mere 6.4% in 2014.
          </p>
        </section>
        <section class="step">
          <h1>Ethiopia</h1>
          <p>
            A country in the northeastern part of Africa. Ethiopia is the most populous landlocked country in the world and the second -most populous African nation.
          </p>
        </section>
        <section class="step">
          <p>
            One of the fastest growing economies in the world - nearly 11% growth year-over-year!
          </p>
        </section>
        <section class="step">
          <p>
            Despite the explosive growth, Ethiopia has not compromised on its energy use policies. In spite of significant coal reserves in the country, policy has focused on utilizing renewable sources.
          </p>
        </section>
        <section class="step">
          <p>
            Uncover more interesting stories like this one by exploring global trends and statistics over the past 20 years
          </p>
        </section>
        <div>
          <a id="explore" class="btn" href="/map">Explore for Yourself</a>
        </div>
      </div>
      <div id='vis'>

      </div>
      <div id="extra-space"></div>
      <div style="height: 200px"></div>
    </div>
  </div>
</body>

<!-- Javascript Libraries -->
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!-- Custom external scripts -->
<script src="/javascripts/scroller.js"></script>
<script src="/javascripts/sections.js"></script>

<!-- Custom in-page scripts -->
<script>
</script>

</html>