<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Trends</title>

  <!-- Stylesheets -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Playfair+Display:400,700" rel="stylesheet">


  <!-- Custom external stylesheets -->
  <link rel="stylesheet" href="/stylesheets/trends.css">

  <style>
    body {
      margin-bottom: 100px;
      font-family: 'Montserrat', sans-serif;
      background-color:rgb(250, 250, 250)
    }

    .main {
      padding: 20px;
    }

    .sidebox {
      border-radius: 10px;
      border-width: 2px;
      border-style: solid;
      padding: 5px;
      height: 600px;
      overflow-y: scroll;
      background-color:rgb(240, 240, 240)
    }
    #wiki {
      font-size: 0.75em
    }

    h4 {
      font-family: 'Playfair Display', serif;
    }
    .navbar {
      font-family: 'Playfair Display', serif;
      background-color: #173e43;
      color: #dddfd4;
    }

    .navbar h1 {
      font-size: 4em;
    }
  </style>
</head>

<body>
  <div class="navbar">
    <h1><%= country %></h1>
  </div>
  <div class="main">

    <div class="row">
      <div class="col-2">
        <div class="sidebox">
          <h4 style="border-bottom: solid black 1px">
            From Wikipedia
          </h4>
          <div id="wiki">

          </div>
        </div>
      </div>
      <div class="col-8">
        <div class="chart-wrapper" id="chart1">

        </div>
        <div class="chart-wrapper" id="chart2">

        </div>
      </div>
      <div class="col-2">
        <div id="toggles" class="sidebox">

        </div>
      </div>
    </div>
  </div>
</body>

<!-- Javascript Libraries -->
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!-- Custom external scripts -->
<script src="/javascripts/wikiLoad.js"></script>
<script src="/javascripts/makeLineChart.js"></script>

<!-- Custom in-page scripts -->
<script>
  const Country = $('.navbar>h1').text();
  wikiLoad(Country);

  d3.csv('/data/energy_full.csv').then(ready)
    .catch(e => console.error(e));
  function ready(data) {
    data = data.filter(d => d.Country == 'India')
    console.log(data)

    // Reformat data
    data = data.map(d => {
      return {
        Year: +d.Year,
        co2_milTon: d.co2_milTon ? +d.co2_milTon : null,
        primary_con_mtoe: +d.primary_con_mtoe,
        elec_gen_twh: d.elec_gen_twh ? +d.elec_gen_twh : null,
        hydro_gen_twh: +d.hydro_gen_twh
      }
    })

    var chart = makeLineChart(data, 'Year', {
      'CO2': { column: 'co2_milTon', description: 'Description for CO2; Lorem ipsum dolor sit amet, consectetur adipiscing elit.' },
      'Consumption': { column: 'primary_con_mtoe', description: 'Description for Consumption; Lorem ipsum dolor sit amet, consectetur adipiscing elit.' }
    });
    chart.bind({
      selector: '#chart1',
      chartSize: { height: 300, width: parseInt(d3.select('.col-8').style('width')) },
      axisLabels: { xAxis: 'Year', yAxis: 'Values' },
      colors: ['blue', 'red']
    });
    chart.render();

    chart = makeLineChart(data, 'Year', {
      'Electric': { column: 'elec_gen_twh', description: 'Description for Electric; Lorem ipsum dolor sit amet, consectetur adipiscing elit.' },
      'Hydro': { column: 'hydro_gen_twh', description: 'Description for Hydro; Lorem ipsum dolor sit amet, consectetur adipiscing elit.' }
    });
    chart.bind({
      selector: '#chart2',
      chartSize: { height: 300, width: parseInt(d3.select('.col-8').style('width')) },
      axisLabels: { xAxis: 'Year', yAxis: 'Values' },
      colors: ['green', 'orange']
    });
    chart.render();
  }
</script>

</html>